/* Variables */
:root {
  --main-white: #ffffff;
  --main-red: #ff007a;
  --main-black: #211f25;
  --main-dark-gray: #3d3a41;
  --main-pink: #ff94c7;
  --main-gray: #d6d6d6;
}

/* Fonts */
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/nunito-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/nunito-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/nunito-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/nunito-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-800.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* Normalize */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* General codes */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Nunito", "Arial", sans-serif;
  background-image: url("../images/hero-bg-design.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/hero-bg-design@2x.png");
  }
}
img {
  display: block;
  height: 100%;
}

/* Sticky-footer */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Containers */
.main-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Site header styling */
.site-header {
  position: relative;
  padding-top: 8px;
}

.logo-img {
  width: 160px;
  height: 32px;
}

.site-nav {
  top: 180px;
  left: 45%;
  z-index: 3;
  width: 100vh;
  height: 100vh;
  background-color: #7e35eb;
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.site-nav.shownav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.nav-link {
  font-size: 18px;
}
.nav-link:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.theme-btn {
  position: absolute;
  top: 8px;
  left: 20px;
  height: 32px;
  border: none;
}
.theme-btn::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../../images/theme-mode-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.burger-btn {
  height: 26px;
}
.burger-btn::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("../../images/burger-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.burger-close-btn::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("../../images/burger-btn-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .site-header {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .site-nav {
    position: static !important;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: transparent;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    margin-right: 30px;
    padding: 0;
  }
  .nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .theme-btn {
    position: static;
    top: 0;
    height: 42px;
  }
  .theme-btn::before {
    width: 42px;
    height: 42px;
  }
}
/* Site hero styling */
.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-texts-wrapper {
  width: 100%;
  max-width: 737px;
  margin-bottom: 100px;
}

.hero-heading {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}

.hero-desc {
  width: 100%;
  max-width: 471px;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-bottom: 80px;
}

.hero-start-link {
  margin-bottom: 10px;
  padding: 18px 50px;
  background-color: var(--main-red);
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 32px;
}

.hero-video-btn {
  padding: 12px 19px;
  background-color: transparent;
  border: 1px solid var(--main-white);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 32px;
}
.hero-video-btn::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 16px;
  background-image: url("../../images/video-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-video-wrapper {
  position: absolute;
  top: -200%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}

.video-close-btn::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../../images/vidoe-close-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-video {
  width: 300px;
  height: 190px;
}

.hero-video-wrapper.hero-video-added {
  top: 220px;
}

.hero-bootom-img {
  width: auto;
  max-width: 323px;
  height: 200px;
  background-image: url("../../images/laptop-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 500px) {
  .hero-video {
    width: 500px;
    height: 290px;
  }
  .hero-video-wrapper.hero-video-added {
    top: 140px;
  }
  .hero-bootom-img {
    max-width: 450px;
    height: 350px;
    background-image: url("../../images/laptop.png");
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero-heading {
    font-size: 56px;
    line-height: 120%;
  }
  .hero-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    margin-bottom: 40px;
  }
  .hero-start-link {
    margin-right: 33px;
  }
  .hero-video-btn {
    width: auto !important;
  }
  .hero-video {
    width: 760px;
    height: 410px;
  }
  .hero-video-wrapper.hero-video-added {
    top: -30px;
  }
  .hero-bootom-img {
    max-width: 760px;
    height: 550px;
    background-image: url("../../images/laptop.png");
  }
}
@media only screen and (min-width: 992px) {
  .hero-video {
    width: 900px;
    height: 467px;
  }
  .hero-bootom-img {
    max-width: 996px;
    height: 582px;
    background-image: url("../../images/laptop.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-bootom-img {
    background-image: url("../../images/laptop-mobile@2x.png");
    background-image: url("../../images/laptop@2x.png");
  }
}
/* Solution section styling */
.solution-texts-wrapper {
  width: 100%;
  max-width: 575px;
  margin-bottom: 80px;
}

.solution-heading {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: var(--main-black);
}

.solution-desc {
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--main-dark-gray);
}

.item-card {
  width: 100%;
  max-width: 405px;
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.item-card:not(:last-child) {
  margin-bottom: 30px;
}
.item-card:hover {
  background-color: #f7f5ff;
}
.item-card:hover .card-link {
  color: var(--main-red);
}

.card-img-top {
  width: 300px;
  height: 230px;
  margin-bottom: 33px;
}

.card-heading {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-black);
}

.card-desc {
  margin-bottom: 40px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-dark-gray);
}

.card-link {
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black);
}

@media only screen and (min-width: 768px) {
  .solution {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .solution-heading {
    font-size: 48px;
    line-height: 120%;
  }
  .solution-desc {
    line-height: 155%;
  }
  .item-card:not(:last-child) {
    margin-bottom: 10px;
  }
  .card-img-top {
    width: 357px;
    height: 300px;
    margin-bottom: 33px;
  }
}
/* Protextction section styling */
.protection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.protection-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.protection-item:nth-child(1) {
  background-color: #fcfbff;
}

.protection-item:nth-child(2) .protection-text-wrapper {
  margin-right: 40px;
}

.protection-heading {
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-black);
}

.protection-desc {
  margin-bottom: 40px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-dark-gray);
}

.protection-item-link {
  padding: 18px 53px;
  line-height: 155%;
  letter-spacing: 0.01em;
  color: var(--main-red);
  border: 1px solid var(--main-red);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 32px;
}
.protection-item-link:hover {
  color: var(--main-red);
}

.protection-item:nth-child(1) .protection-item-img {
  width: 100%;
  max-width: 600px;
  height: 270px;
  background-image: url("../../images/protection-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.protection-item:nth-child(2) .protection-item-img {
  width: 100%;
  max-width: 600px;
  height: 270px;
  background-image: url("../../images/protection-mode-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .protection {
    padding-bottom: 100px;
  }
  .protection-heading {
    font-size: 48px;
  }
  .protection-item:nth-child(1) .protection-item-img {
    height: 369px;
    background-image: url("../../images/protection.png");
  }
  .protection-item:nth-child(2) .protection-item-img {
    height: 369px;
    background-image: url("../../images/protection-mode.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .protection-item:nth-child(1) .protection-item-img {
    background-image: url("../../images/protection-mobile@2x.png");
  }
  .protection-item:nth-child(2) .protection-item-img {
    background-image: url("../../images/protection-mode-mobile@2x.png");
  }
  .protection-item:nth-child(1) .protection-item-img {
    background-image: url("../../images/protection@2x.png");
  }
  .protection-item:nth-child(2) .protection-item-img {
    background-image: url("../../images/protection-mode@2x.png");
  }
}
/* Testimonoials section styling */
.testimonials {
  padding-top: 50px;
  padding-bottom: 80px;
}

.testimonials-texts-wrapper {
  width: 100%;
  max-width: 622px;
  margin-bottom: 30px;
}

.testimonials-heading {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--main-black);
}

.testimonials-desc {
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-dark-gray);
}

.slider-item {
  width: 100%;
  max-width: 405px;
  padding: 31px;
  background: #f7f5ff;
  border-radius: 8px;
}
.slider-item::before {
  content: "";
  display: block;
  width: 113px;
  height: 19px;
  margin-bottom: 30px;
  background-image: url("../images/stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.first-slider-item-personality::before {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  background-image: url("../images/brooklyn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.second-slider-item-personality::before {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  background-image: url("../../images/darrell.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.third-slider-item-personality::before {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  background-image: url("../../images/courtney.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-item-desc {
  margin-bottom: 30px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black);
}

.slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -25px;
  z-index: 5;
  display: none;
  width: 54px;
  height: 54px;
  border: none;
  background-color: var(--main-white);
  border: 0.96024px solid var(--main-red);
  border-radius: 48.012px;
}
.slick-prev::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  background-image: url("../../images/left-arrow.svg");
  background-repeat: no-repeat;
  content: "";
}
.slick-prev:hover {
  background-color: var(--main-red);
}

.slick-next {
  position: absolute;
  top: 50%;
  right: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  width: 54px;
  height: 54px;
  display: none;
  border: none;
  background-color: #ffffff;
  border: 0.96024px solid var(--main-red);
  border-radius: 48.012px;
}
.slick-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  background-image: url("../../images/right-arrow.svg");
  background-repeat: no-repeat;
  content: "";
}
.slick-next:hover {
  background-color: var(--main-red);
}

@media only screen and (min-width: 768px) {
  .testimonials-texts-wrapper {
    margin-bottom: 80px;
  }
  .testimonials-heading {
    font-size: 48px;
    line-height: 120%;
  }
  .slider-item:not(:last-child) {
    margin-right: 32px;
  }
  .slick-prev {
    display: block;
  }
  .slick-next {
    display: block;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .first-slider-item-personality::before {
    background-image: url("../images/brooklyn@2x.png");
  }
  .second-slider-item-personality::before {
    background-image: url("../../images/darrell@2x.png");
  }
}
/* Pricing section styling */
.pricing-texts-wrapper {
  width: 100%;
  max-width: 853px;
  margin-bottom: 30px;
}

.pricing-heading {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 34px;
  letter-spacing: -0.01em;
}

.pricing-desc {
  line-height: 22px;
  letter-spacing: 0.02em;
}

.pricing-item {
  width: 100%;
  max-width: 310px;
  padding: 31px;
  border-radius: 8px;
  cursor: pointer;
}
.pricing-item:not(:last-child) {
  margin-right: 32px;
}
.pricing-item:hover {
  border: 1px solid var(--main-red);
}

.pricing-item-plan {
  width: 110px;
}

.pricing-item-plan-heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-black);
}

.pricing-item-plan-price {
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 120%;
  color: var(--main-black);
}

.pricing-item-plan-yearly {
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-dark-gray);
}

.pricing-list-item {
  line-height: 155%;
  color: var(--main-dark-gray);
}
.pricing-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.pricing-item-link {
  padding: 16px 28px;
  color: var(--main-red);
  border: 1px solid var(--main-red);
  border-radius: 32px;
}
.pricing-item-link:hover {
  color: white;
  background-color: var(--main-red);
}

@media only screen and (min-width: 768px) {
  .pricing-texts-wrapper {
    margin-bottom: 80px;
  }
  .pricing-heading {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 120%;
  }
  .pricing-desc {
    line-height: 155%;
  }
  .pricing-item {
    max-width: 405px;
  }
}/*# sourceMappingURL=main.css.map */