/* General codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  // font-family: "Poppins", "Arial", sans-serif;
}

/* Sticky-footer */
.site-main {
  flex-grow: 1;
}