/* Protextction section styling */

.protection {
   padding-top: 80px;
   padding-bottom: 80px;
}

.protection-list {}

.protection-item {
   padding-top: 20px;
   padding-bottom: 20px;
}

.protection-item:nth-child(1) {
   background-color: #fcfbff;
}

.protection-item:nth-child(2) .protection-text-wrapper {
   margin-right: 40px;
}

.protection-text-wrapper {}

.protection-heading {
   font-size: 38px;
   line-height: 120%;
   letter-spacing: -0.01em;
   color: var(--main-black);

}

.protection-desc {
   margin-bottom: 40px;
   line-height: 155%;
   letter-spacing: 0.02em;
   color: var(--main-dark-gray);
}

.protection-item-link {
   padding: 18px 53px;
   line-height: 155%;
   letter-spacing: 0.01em;
   color: var(--main-red);
   border: 1px solid var(--main-red);
   filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
   border-radius: 32px;

   &:hover {
      color: var(--main-red);
   }
}


.protection-item:nth-child(1) .protection-item-img {
   width: 100%;
   max-width: 600px;
   height: 270px;
   background-image: url("../../images/protection-mobile.png");
   background-repeat: no-repeat;
   background-size: contain;
}

.protection-item:nth-child(2) .protection-item-img {
   width: 100%;
   max-width: 600px;
   height: 270px;
   background-image: url("../../images/protection-mode-mobile.png");
   background-repeat: no-repeat;
   background-size: contain;
}

@include mobile-first (768px) {
   .protection {
      padding-bottom: 100px;
   }

   .protection-heading {
      font-size: 48px;
   }

   .protection-item:nth-child(1) .protection-item-img {
      height: 369px;
      background-image: url("../../images/protection.png");
   }

   .protection-item:nth-child(2) .protection-item-img {
      height: 369px;
      background-image: url("../../images/protection-mode.png");
   }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
   .protection-item:nth-child(1) .protection-item-img {
      background-image: url("../../images/protection-mobile@2x.png");
   }

   .protection-item:nth-child(2) .protection-item-img {
      background-image: url("../../images/protection-mode-mobile@2x.png");
   }

   .protection-item:nth-child(1) .protection-item-img {
      background-image: url("../../images/protection@2x.png");
   }

   .protection-item:nth-child(2) .protection-item-img {
      background-image: url("../../images/protection-mode@2x.png");
   }
}